<div class="container">
  <%= image_tag 'zzuli-header.png', class: 'header__img' %>
  <%= form_with model: @url, remote: true, class:'new-form active' do |f| %>
    <div class="new-form__field">
      <%= f.text_field :origin, autocomplete: 'off', placeholder: 'https://what-a-long-url-you-have.com' %>
      <small></small>
    </div>
    <div class="new-form__arrow"></div>
    <div class="new-form__field">
      <!-- After shorten -->
      <div class="input__shortened--active">
        <div class="active__url">
          <span>https://zzu.li/</span><span id="created-shortened"></span>
        </div>
        <span id="copy" class="active__copy">Copy</span>
      </div>
      <!-- Before shorten -->
      <%= f.text_field :shortened, autocomplete: 'off', class: 'input__shortened' %>
      <%= f.label :shortened, 'https://zzu.li/' %>
      <small></small>
    </div>
    <%= f.button :Shorten, class:'btn btn--indigo' %>
  <% end %>
</div>
