<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>zzuli, The URL Shortener</title>

    <meta name="description" content="Make your zzuli Short URL :)">
    <meta name="application-name" content="zzuli">
    <meta name="author" content="zzulu">
    <meta property="og:title" content="zzuli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://zzu.li">
    <meta property="og:description" content="Make your zzuli Short URL :)">
    <meta property="og:image" content="<%= image_url('og-image.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= image_url('favicons/favicon-152.png') %>">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= image_url('favicons/favicon-120.png') %>">
    <!-- favicons -->
    <link rel="shortcut icon" href="<%= image_url('favicons/favicon.ico') %>" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
